.container{
    display: grid;
    grid-template-columns: repeat(3,0.5fr);
    grid-template-rows: repeat(3,1fr);
    gap: 10px;
    justify-content: center;
    align-content: center;
    grid-template-areas: "";

  
   
   
}



body{
    background-color: black;
}

img {
    
    width:  300px;
    height: 200px;
  
}

.two{
    grid-column: span 5;
}